/*  This is the Craving Boston custom style sheet */
 
/* Basic settings */ 
body {
  font-family: "CooperHewitt", Helvetica, Arial,sans-serif;
  background-image: url(images/bg_greyzz.png);
  color: #555;
}
body.page-admin, body.page-node-add {
  background-image: none;
}
h1,h2,h3,h4,h5,h6 {
  font-weight: bold;
}
p {
  font-size: 18px;
  line-height: 1.3;
  margin-bottom: 10px;
}
a, a:visited {
  color: #b52e18;
}
a:hover {
  color: #78201F;
}
ul {
  list-style-type: square;
}

blockquote {
  font-weight: normal;
  color: #444;
}
blockquote::before {
  content: none;
}
.pmp-article blockquote {
  padding-left: 0;
}
/* Utility class to remove padding from column */
.no-padding {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

/* More specific settings */
.a2a_kit {
  margin-right: 12px;
}
.article {
  position: relative;
}
.attachment .article {
  margin-left: 5px;
}
.article .image {
  width: 100%;
}
.bio {
  border-top: solid 1px #999;
  padding: 10px 0;
}
.bio .name {
  font-size: 1.2em;
  font-weight: bold;
  margin-bottom: 7px;
}
.bio .bio-text p {
  font-size: 15px;
}
.block-dfp iframe {
  width: 100%;
}
.block-dfp iframe img {
  width: 100%;
}
#cb-bottom-links {
  background-color: #9E1D21;
  border-top: 5px solid #8c1418;
}
#cb-bottom-links ul.menu {
  list-style: none;
  margin-left: 0;
}
#cb-bottom-links ul li a, #cb-bottom-links ul li a:visited {
  color: white;
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
}
#cb-bottom-links ul li, #cb-bottom-links ul li.leaf {
  list-style-type: none;
  list-style-image: none;
}
.footer-block img {
  display: inline-block;
  margin-top: 50px;
}
.footer-block .block h2 {
  color: #ddd;
  padding: 0;
}
#colophon {
  text-align: center;
}

/* All posts page */
.row.post {
  margin: 10px 0;
  border-bottom: solid 1px #ccc;
}
.row.post img {
  border-radius: 2px;
  margin-bottom: 10px
}
.row.post h2 {
  margin-top: 0;
  font-size: 18px;
}
.row.post .subhead, .row.post .subhead p {
  font-size: 15px;
}
.row.post .tags a {
  display: inline-block;
  margin-bottom: 2px;
  background: #ed564b none repeat scroll 0 0;
  border-radius: 2px;
  color: #fff;
  margin-bottom: 5px;
  margin-right: 5px;
  padding: 2px 6px;
}
/* Link to all posts page */
.view-footer {
  text-align: center;
}
a.cb-button {
  display: inline-block;
  font-weight: bold;
  color: white;
  background-color: #b52e18;
  border: solid 1px #8C1418;
  border-radius: 3px;
  margin: 20px;
  padding: 4px;
}

.block.info, .block.signup {
  padding: 20px;
  background-color: #ffeedd;  /* highlight-background */
  color: #333;
}
#sidebar .block.info h2 {
  margin-top: 0;
}
#block-menu-menu-footer-menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
#block-menu-menu-footer-menu ul li {
  list-style-type: none;
  list-style-image: none;
}
.btn.sign-up {
  margin: 0 0 7px 5px;
  font-weight: bold;
  font-size: 0.7em;
}

/* Reset max container width */
.container {
  max-width: 994px;
}

.content .unpublished {
  background-color: #fee;
}

/* faqs */
.faq .well {
  background-color: #ffeedd;
  border: 2px solid #ffaaaa;
}
.faq .question {
  font-size: 1.2em;
  font-style: italic;
  margin-bottom: 10px;
}
.faq .answer p {
  font-size: 1.1em;
}

/* flexslider */
.flex-caption {
  background-color: rgba(255,255,255,0.8);
  left: 0;
  top: inherit;
  bottom: 5%;
  color: #555;
  margin-left: 0;
  padding: 10px;
  text-align: left;
  width: 90%;
}
.flex-direction-nav .flex-prev {
  left: 12px;
}
.flex-direction-nav .flex-next {
  right: 27px;
}
.flex-direction-nav a {
  top: 54%;
  background-image: url(images/cb-flexslider-nav.png);
}

/* Events */
.view-event-list h2 {
  font-size: 22px;
  color: #999;
}
.view-event-list .calendar-date {
  font-weight: bold;
  font-size: 14px;
  margin-bottom: 10px;
}
.view-event-list .date-display-range {
  display: inline-block;
}
.view-event-list p {
  font-size: 16px;
}
.view-event-list .event {
  padding-bottom: 20px;
  border-bottom: solid 1px #ccc;
}

/* Search block */
.row.mainmenu {
  padding-top: 0;
  margin-top: 0;
  margin-bottom: 0;
}
#search-block-form {
  text-align: right;
}  
#search-block-form .form-item {
  vertical-align: 15px;
}
input#edit-search-block-form--2 {
  margin-right: 0;
  width: 125px;
}
/* Search results */
#block-system-main .search-advanced {
  margin-top: 10px;
}
.logged-in #block-system-main form#search-form {
  margin-bottom: 45px;
}

.field-name-body {
  margin-top: 30px;
}
.field-type-node-reference h2 {
  font-size: 0.7em;
}
.page-node .field-name-field-subhead, .page-node .subhead, .page-node .field-name-field-author {
  color: #666;
  font-style: italic;
  font-weight: bold;
  font-size: 1.2em;
  margin-bottom: 20px;
}
.page-node .field-name-field-subhead, .page-node .subhead {
  margin-top: 10px;
}
div#related-content {
  margin: 20px 0;
  border-radius: 10px;
  padding: 10px 20px 20px 20px;
  background-color: #ffeedd;
}

.view-related-content .related-row {
  float: left;
  width: 31%;
  margin: 0 1%;
}
.page-node #content-wrap .view-related-content .related-row img {
  display: block;
  width: 100%;
  margin: 0;
}
.view-related-content h3 {
  font-size: 14px;
  margin-top: 12px;
}
header {
  margin-top: 20px;
}
h1.page-title {
  font-family: "CooperHewitt",Arial,Helvetica,sans-serif;
  font-size: 3em;
  color: #5C9E4C;
  font-weight: bold;
}
.node h2.title a, .node h2.title a:visited {
  font-size: 2em;
  color: #b52e18;
}
/* Multi-recipe */
.topic-page h1.page-title {
  margin-bottom: 0;
} 
h2.has-video {
  padding-left: 30px;
  background: url(images/video-icon.png) left 8px no-repeat;
}
h2.recipe {
  padding-left: 37px;
  background: url(images/spoon-icon.png) left center no-repeat;
  margin-top: 0;
  padding-top: 20px;
}
.image-caption {
  color: #666;
  font-size: 12px;
  border-bottom: solid 1px #ccc;
  padding-bottom: 3px;
}
.image-with-caption {
  margin-bottom: 20px;
}

label.audio {
  display: inline-block;
  margin-right:10px
}
#masthead {
  margin-top: 24px;
}
/* Mobile menu */
#mobile-select {
  position: absolute;
  right: 12px;
  bottom: 7px;
  width: 52px;
  height: 52px;
  z-index: 450;
  display: none;
}
#mobile-menu {
  position: absolute;
  top: 0;
  right: -360px;
  width: 360px;
  background-color: #9e1d20;
  z-index: 20000;
  box-shadow: 0 2px 5px rgba(0,0,0,0.7);
  display: none;
}
#mobile-menu ul, #mobile-menu ul > li {
  list-style-type: none;
  margin: 0;
}
#mobile-menu ul > li {
  padding: 10px 0 10px 3px;
  border-bottom: solid 1px #ccc;
}
#mobile-menu ul > li > a {
  background-color: transparent;
  text-transform: uppercase;
  color: white;
  text-shadow: none;
  display: inline-block;
  width: 100%;
  height: 100%;
  text-align: center;
  margin 0 auto;
}
#mobile-menu ul > li.close-menu {
  padding: 3px;
  background-color: #881122;
}
.mobile-back-to-top {
  display: none;
  position: fixed;
  right: 12px;
  top: 300px;
  width: 52px;
  height: 52px;
  z-index: 1000;
  opacity: 0.75;
}

/* Desktop menu */
#main-menu {
  height: 40px;
  margin: 10px 0 0 ;
  float: none;
}
.mainmenu {
  margin: 10px 0;
}
#main-menu ul {
  width: 100%;
}
#main-menu ul li {
  margin: 0;
  padding 0 10px;
}
#main-menu ul li.last {
  display: none;
}  
#main-menu > ul > li > a {
  padding: 0 13px;
}
#main-menu > ul > li:first-child > a {
  padding-left: 5px;
}
#main-menu ul li a {
  font-weight: bold;
  font-size: 1.1em;
  color: #555;
  background-color: transparent;
  text-transform: uppercase;
}
#main-menu ul li a:hover {
  font-style: italic;
  color: #5B9E4B;
} 
/* 
#main-menu #main-menu li a:active, #main-menu a.active, #main-menu > ul > li > a.active-trail {
    background-image: url("/sites/all/themes/craving_boston/images/indicator-dot.png");
    background-position: right 0 top 18px;
    background-repeat: no-repeat;
}
 */
#main-menu #main-menu li a:active, #main-menu a.active, #main-menu > ul > li > a.active-trail {
  text-decoration: underline;
  color: #5B9E4B;
}
#navigation {
  text-align: center;
}
.page-node #content-wrap img {
  padding: 0;
  border: none;
}

.not-front #sidebar, .not-front #primary, .not-front #main-content, .not-front h1.page-title {
  padding-top: 0;
  margin-top: 0;
}

/* Recipe styling */
.node-type-recipe .field-type-text-with-summary, 
.node-type-recipe .field-type-number-integer, 
.node-type-recipe .field-type-ingredient-reference, 
.node-type-recipe .field-type-taxonomy-term-reference,
.node-type-multi-recipe .field-type-text-with-summary, 
.node-type-multi-recipe .field-type-number-integer, 
.node-type-multi-recipe .field-type-ingredient-reference, 
.node-type-multi-recipe .field-type-taxonomy-term-reference {
  color: #333;
  margin: 20px 0;
}
.node-type-recipe .field-type-ingredient-reference .field-items,
.node-type-multi-recipe .field-type-ingredient-reference .field-items {
  margin-left: 4em;
  font-size:16px;
}
.field-name-recipe-instructions ol li {
  font-size:17px;
  line-height: 1.9;
}
.field-name-recipe-ingredient .field-label,
.field-name-recipe-instructions .field-label,
.field-name-recipe-notes .field-label
 {
  font-size: 18px;
  color: #666;
  margin-bottom: 10px;
}
.node-type-recipe .field .quantity-unit,
.node-type-multi-recipe .field .quantity-unit {
 font-weight: bold;
}
.node-type-recipe .quantity-unit, .node-type-recipe .ingredient-name {
  display: table-cell;
  padding-bottom: 10px;
}
.player-wrapper {
  display: inline-block;
  position: relative;
  top: 10px;
  background-color: #9E1D20;
  border-radius: 7px;
  padding: 0 10px 10px 10px;
} 
.region-header .block {
  margin-bottom: 20px;
}
#site-banner {
  margin: 10px 0;
  width: 90%;
}
#site-slogan {
  color: #888;
  font-size: 1.1em;
  line-height: 1.3;
  margin-top: 53px;
  padding: 0 0 7px 1%;
  font-weight: bold;
  text-align: right;
}
.social-media {
  margin: 15px 0 6px;
}
.social-media-icon {
  width: 30px;
  height: 27px;
  display: inline-block;
  background-image: url(images/social-icons-small.png);
  background-repeat: no-repeat;
}
.social-media-icon.facebook {
  background-position: -28px 1px;
}
.social-media-icon.instagram {
  background-position: 3px 1px;
}
.social-media-icon.pinterest {
  background-position: -60px 1px;
}
.social-media-icon.twitter {
  background-position: -95px 1px;
}
#support {
  margin-top: 10px;
  margin-bottom: 0px;
  text-align: center;
  padding: 0;
}
.front #support #block-dpf-leaderboard, .front #support .region-header .block {
  margin-bottom: 0;
}
.front #main-content {
  padding-top: 0;
}
#support #block-block-1 {
  margin-bottom: 0;
}

/* View styling - more general to more specific */
.view-content .article {
  position: relative;
}
.view-content .article .byline {
  font-style: italic;
  margin-top: 10px;
}
.view-the-latest .article .info,
.view-topic .article .info,
.view-featured .article .featured-info {
  position: absolute;
  bottom: 1em;
  padding: 10px 2%;
  background-color: rgba(230,230,230, 0.8); /* highlight-background with opacity*/
  color: #333;
  width: 95%;
}
.view-content .article .info .deck {
  font-size: 18px;
}
.view-content .article-title, 
.view-content .article h2.title {
  font-size: 2em;
  font-weight: bold;
  line-height: 1.2;
  margin-top: 20px;
}
.page-node h1.page-title {
  font-family: "CooperHewitt",Arial,Helvetica,sans-serif;
  font-size: 2em;
  color: #b52e18;
  line-height: 1.2;
  margin-top: 20px;
  font-weight: bold;
}
.view-featured .article-title {
  margin-top: 0;
}
.attachment .view-content .featured-info .article-title {
  font-size: 18px;
}
.view-featured .attachment .article {
  margin-bottom: 5px;
}
.view-display-id-lead_article .featured-info {
  padding: 10px;
  bottom: 20px;
  font-size: 1.2em;
}

.attachment .view-featured .article .featured-info {
  padding: 4px;
  bottom: 12px;
}
.view-topic .view-header {
  color: #333;
  font-style: italic;
  font-weight: bold;
  margin: 10px 0 40px;
}

/* Override related links colors from wgbh_branding module */    
.wgbh-related-links {
  color: #b52e18;
  border-top: solid 4px #b52e18;
  border-bottom: solid 4px #b52e18;
}
.wgbh-related-links ul > li > a {
  color: #b52e18;
}
@media (max-width: 770px) {
  #main-menu {
    display: block;
  }
  #site-slogan {
    text-align: left;
    margin-top: 10px;
  }
/* 
  .view-featured .article-title, 
    font-size: 18px;
  }
  .attachment .view-content .info .article-title {
    font-size: 14px;
  }
  #site-slogan {
    text-align: left;
    margin-top: 10px;
  }
 */
}

/* Bootstrap defaults to mobile-first, but we designed for desktop first so we'll flip max and min width*/
/* Anything smaller than tablet */
@media screen and (max-width: 480px) {
  .page-node .block.info {
    display: none;
  }
  #main-menu {
    display: none;
  }
  #site-slogan {
    text-align: center;
    font-size: 12px;
  }
  #cb-bottom-links #block-block-5 {
    display: none;
  }
  .flex-caption {
    padding: 5px;
    width: 100%;
    font-size: 0.9em;
  }
  #mobile-select {
    display: block;
  }
  p {
    font-size: 1.1em;
  }
  input#edit-search-block-form--2 {
    width: 100px;
  }
  #related-content h3 {
    font-size: 16px;
  }
  #related-content .related-row h3 {
    font-size: 12px;
  }
  #search-form {
    text-align: left;
  }  
  #site-slogan {
    text-align: center;
    margin-top: 10px;
    font-size: 0.9em;
  }
  #support {
    background-color: #fff;
  }
  .view-content .article .info {
    display: none;
  }
  .view-featured .article .featured-info {
    position:static;
    background-color: transparent;
    padding-left: 0;
  }
  .attachment .view-featured .article .featured-info {
    padding-left: 0;
  }
  .view-featured .attachment .article {
    margin-left: 0;
  } 
  .view-featured .article, 
  .view-featured .article .info, 
  .attachment .view-content .info .article-title,
  .view-the-latest .article, 
  .view-the-latest .article .info {
    font-size: 20px;
  }
  .view-content .article-title, 
  .view-content .article h2.title, 
  .page-node h1.page-title {
    font-size: 20px;
    background-color:transparent;
  }
  .page-node .field-name-field-subhead, 
  .page-node .field-name-field-subhead p, 
  .page-node .subhead, 
  .page-node .subhead p, 
  .page-node .field-name-field-author {
    color: #666;
    font-size: 15px;
    font-style: italic;
    font-weight: normal;
    margin-bottom: 20px;
  }
  .view-content .byline {
    display: none;
  }
  .view-featured .article .image, 
  .attachment .view-content .article .image {
    margin-bottom: 10px;
  }
}
@media print {
  .wgbh-links,
  .mobile-back-to-top,
  #toolbar,
  #site-slogan,
  .mainmenu,
  #dfp-leaderboard-wrapper,
  .a2a_kit,
  .field-name-body .image-with-caption,
  .field-name-recipe-description .image-with-caption,
  .field-name-recipe-instructions .image-with-caption,
  #block-disqus-disqus-comments,
  #sidebar,
  .region-footer-second,
  .region-footer-third,
  .region-footer-fourth,
  ul.meta,
  a:after {
    display: none;
  }
  body {
    margin-top: 0 !important;
    padding-top: 0 !important;
  }
  #masthead {
    margin-top: 0;
  }
  #site-banner {
    width: 40%;
  }
  .field-name-field-image {
    width: 33%; 
  }
  .fcred {
    text-align: right;
  }
}



