/*  This is the Craving Boston custom style sheet */
/* 
breakpoints[mobile] = (min-width: 0px)
breakpoints[narrow] = (min-width: 740px)
breakpoints[normal] = (min-width: 980px)
breakpoints[wide] = (min-width: 1220px)
 */
 
 /*
 Color notes:
 _highlight-background_ options 
 pastel orange that Eric hates: #ECD5D1  
 Hamilton Beach green: #5AC57A
 Maroon: #3D140D
 Greek clay: #7D291A
 */
 
/* Basic settings */ 
body {
  font-family: "cooper_hewittbook",Arial,Helvetica,sans-serif;
  background-image: url(images/bg_greyzz.png);
  color: #555;
}
body.page-admin, body.page-node-add {
  background-image: none;
}
h1,h2,h3,h4,h5,h6 {
  font-family: "cooper_hewittbook",Arial,Helvetica,sans-serif;
  font-weight: bold;
}
p {
  font-size: 18px;
  line-height: 1.3;
  margin-bottom: 20px;
}
a, a:visited {
  color: #78201F;
}
ul {
  list-style-type: square;
}

/* More specific settings */
.article {
  position: relative;
  margin-left: 5px;
}
#bottom {
  background-color: #ddd;
}
.block.info {
  padding: 20px;
  background-color: #9CCFAB;  /* highlight-background */
  color: #333;
}
#sidebar .block.info h2 {
}
#block-menu-menu-footer-menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
#block-menu-menu-footer-menu ul li {
  list-style-type: none;
  list-style-image: none;
}
.btn.sign-up {
  margin: 0 0 7px 5px;
  font-weight: bold;
  font-size: 0.7em;
}

/* Reset max container width */
.container {
  max-width: 994px;
}

/* Search block */
#masthead .row {
  position: relative;
}
#masthead .row .menu-buddy {
  position: absolute;
  right: 0;
  width: 20%;
  text-align: right;
}

/* Search block styling */
#block-search-form {
  margin: 5px 0 0 0;
  padding: 0;
}
#search-block-form .form-text {
  width: 80%;
}
#search-block-form #search-block-form .container-inline {
  position: relative;
  overflow: hidden;
}
#search-block-form .container-inline .form-type-textfield {
  position: absolute;
  right:0;
  width: 100%;
  z-index: 100;
}
#search-block-form .container-inline #edit-actions {
  position: absolute;
  display: none;
  right: 0;
  top: -10px;
  z-index: 100;
}


/* 
input#edit-search-block-form--2 {
  display: none;
}
 */
.field-name-body {
  margin-top: 30px;
}
.field-type-node-reference h2 {
  font-size: 0.7em;
}
.page-node .field-name-field-subhead, .page-node .subhead {
  color: #666;
  font-style: italic;
  font-weight: bold;
  font-size: 1.2em;
  margin-bottom: 40px;
}
header {
  margin-top: 20px;
}
.topic-page h1.page-title {
  font-family: "cooper_hewittsemibold",Arial,Helvetica,sans-serif;
  font-size: 4em;
  color: #20452B;
  margin-bottom: 0;
}
h2.has-video {
  padding-left: 30px;
  background: url(images/video-icon.png) left 8px no-repeat;
}
h2.recipe {
  padding-left: 37px;
  background: url(images/spoon-icon.png) left 8px no-repeat;
}
.image-caption {
  color: #666;
  font-size: 12px;
  border-bottom: solid 1px #ccc;
  padding-bottom: 3px;
}
.image-with-caption {
  margin-bottom: 20px;
}
img {
  border-radius: 0;
}
#main-menu {
  height: 40px;
  margin: 4px 0 12px 0;
  float: none;
}
.mainmenu {
  margin: 10px 0;
}
#main-menu ul {
  width: 100%;
}
#main-menu ul li {
  margin: 0;
  padding 0 10px;
}  
#main-menu > ul > li > a {
  padding: 0 13px;
}
#main-menu > ul > li:first-child > a {
  padding-left: 5px;
}
#main-menu ul li a {
  font-weight: bold;
  font-size: 1.2em;
  color: #555;
  background-color: transparent;
  text-transform: uppercase;
}
#main-menu ul li a:hover {
  font-style: italic;
  color: #43925A;
} 
/* 
#main-menu #main-menu li a:active, #main-menu a.active, #main-menu > ul > li > a.active-trail {
    background-image: url("/sites/all/themes/craving_boston/images/indicator-dot.png");
    background-position: right 0 top 18px;
    background-repeat: no-repeat;
}
 */
#main-menu #main-menu li a:active, #main-menu a.active, #main-menu > ul > li > a.active-trail {
  text-decoration: underline;
  color: #43925A;
}
#navigation {
  text-align: center;
}
.page-node #content-wrap img {
  padding: 0;
  border: none;
}

.not-front #sidebar, .not-front #primary, .not-front #main-content, .not-front h1.page-title {
  padding-top: 0;
  margin-top: 0;
}

/* Recipe styling */
.page-node.node-type-recipe .field-type-text-with-summary, 
.page-node.node-type-recipe .field-type-number-integer, 
.page-node.node-type-recipe .field-type-ingredient-reference, 
.page-node.node-type-recipe .field-type-taxonomy-term-reference {
  color: #333;
  margin: 20px 0;
}
.page-node.node-type-recipe .field-type-ingredient-reference .field-items {
  margin-left: 4em;
}
.page-node.node-type-recipe .field-name-recipe-ingredient .field-label,
.page-node.node-type-recipe .field-name-recipe-instructions .field-label
 {
  font-size: 18px;
  color: #666;
  margin-bottom: 10px;
}
.page-node.node-type-recipe .field .quantity-unit {
  font-weight: bold;
}
#masthead {
  margin-top: 24px;
}
#site-banner {
  width: 66%;
  float: left;
}
#site-slogan {
  width: 30%;
  color: #666;
  margin-top: 95px;
  padding: 0 0 7px 1%;
  font-weight: bold;
  font-style: italic;
  font-size: 0.9em;
  float: right;
  text-align: right;
}
#support {
  margin-top: 20px;
}
#support #block-block-1 {
  margin-bottom: 0;
}
/* 
#support-banner {
  background-image: url(images/support_banner-blue-1024x100.jpg);
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  padding: 40px;
  font-size: 1.5em;
  text-align:center; 
  color: white;
  border-radius: 0;
}
 */

/* view elements */
.article-title, .article h2.title, .page-node h1.page-title {
  font-family: cooper_hewittbook;
  font-size: 3em;
  font-weight: bold;
  line-height: 1.2;
  margin: 30px 0 10px;
}
.article-title:first-child, .article:first-child h2.title {
  margin-top: 0;
}
.attachment .article-title {
  font-size: 1.2em;
}
.view-featured .article .info {
  position: absolute;
  bottom: 5px;
  margin: 0 2% 2% 0;
  padding: 10px;
  border-radius: 0;
  background-color: rgba(230,230,230, 0.8); /* highlight-background with opacity*/
  color: #333;
  font-weight: bold;
}
.view-featured .article .info .article-subhead {
  font-size: 1.2em;
  font-weight: normal;
  color: #666;
}
.view-featured .article:first-child .info {
  bottom: 20px;
}
.attachment .view-featured .article:first-child .info {
  bottom: 5px;
}
.view-content .article .tease {
  position: relative;
}
.view-content .article .tease .deck {
  position: absolute;
  center: 0;
  bottom: 0;
  padding: 10px 2%;
  background-color: rgba(230,230,230, 0.8); /* highlight-background with opacity*/
  color: #333;
  margin: 0 3% 20px 0;
}
.view-topic .view-header {
  color: #333;
  font-style: italic;
  font-weight: bold;
  margin-bottom: 40px;
  padding-left: 25px;
}
@media (min-width: 980px) {
  .view-featured .article {
    width: 74.5%;
    float:left;
  }
  .view-featured .attachment .article {
    width: 100%;
  }
  .view-featured .attachment  {
    float: left;
    width:24.5%;
  }
}

