/*  This is the Craving Boston custom style sheet */
/* 
breakpoints[mobile] = (min-width: 0px)
breakpoints[narrow] = (min-width: 740px)
breakpoints[normal] = (min-width: 980px)
breakpoints[wide] = (min-width: 1220px)
 */
 
 /*
 Color notes:
 _highlight-background_ options 
 pastel orange that Eric hates: #ECD5D1  
 Hamilton Beach green: #5AC57A
 Maroon: #3D140D
 Greek clay: #7D291A
 */
 
/* Basic settings */ 
body {
  font-family: "cooper_hewittbook",Arial,Helvetica,sans-serif;
  background-image: url(images/bg_greyzz.png);
  color: #555;
}
body.page-admin, body.page-node-add {
  background-image: none;
}
h1,h2,h3,h4,h5,h6 {
  font-family: "cooper_hewittbook",Arial,Helvetica,sans-serif;
  font-weight: bold;
}
p {
  font-size: 18px;
  line-height: 1.3;
  margin-bottom: 20px;
}
a, a:visited {
  color: #78201F;
}
ul {
  list-style-type: square;
}

/* More specific settings */
.article {
  position: relative;
  margin-left: 1%;
}
#bottom {
  background-color: #ddd;
}
.block.info {
  padding: 20px;
  background-color: #9CCFAB;  /* highlight-background */
  color: #333;
}
#sidebar .block.info h2 {
}
#block-menu-menu-footer-menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
#block-menu-menu-footer-menu ul li {
  list-style-type: none;
  list-style-image: none;
}
/* 
#block-menu-menu-footer-menu ul li a {
  color: #999;
 */
}

/* Reset max container width */
.container {
  max-width: 994px;
}
.field-name-body {
  margin-top: 30px;
}
.field-type-node-reference h2 {
  font-size: 0.7em;
}
header {
  margin-top: 20px;
}
h1.page-title {
  font-family: "cooper_hewittsemibold",Arial,Helvetica,sans-serif;
  font-size: 4em;
  color: #20452B;
}
h2.has-video {
  padding-left: 30px;
  background: url(images/video-icon.png) left 8px no-repeat;
}
h2.recipe {
  padding-left: 37px;
  background: url(images/spoon-icon.png) left 8px no-repeat;
}
.image-caption {
  padding-bottom: 3px;
  border-bottom: solid 1px #eee;
}
.image-with-caption {
  margin-bottom: 20px;
}
img {
  border-radius: 0;
}
#main-menu {
  height: 40px;
  margin: 4px 0 12px 0;
  float: none;
}
.mainmenu {
  margin: 10px 0;
}
#main-menu ul {
  width: 100%;
}
#main-menu ul li {
  margin: 0;
  padding 0 10px;
}  
#main-menu > ul > li > a {
  padding: 0 20px;
}
#main-menu ul li a {
  font-weight: bold;
  font-size: 1.2em;
  color: #555;
  background-color: transparent;
  text-transform: uppercase;
}
#main-menu ul li a:hover {
  font-style: italic;
  color: #43925A;
} 
/* 
#main-menu #main-menu li a:active, #main-menu a.active, #main-menu > ul > li > a.active-trail {
    background-image: url("/sites/all/themes/craving_boston/images/indicator-dot.png");
    background-position: right 0 top 18px;
    background-repeat: no-repeat;
}
 */
#main-menu #main-menu li a:active, #main-menu a.active, #main-menu > ul > li > a.active-trail {
  text-decoration: underline;
  color: #43925A;
}
#navigation {
  text-align: center;
}
.node h2.title a, .page-node h1.page-title {
  font-size: 3em;
  color: #20452B;
}
.page-node #content-wrap img {
  padding: 0;
  border: none;
}

.not-front #sidebar, .not-front #primary, .not-front #main-content, .not-front h1.page-title {
  padding-top: 0;
  margin-top: 0;
}

/* Recipe styling */
.page-node.node-type-recipe .field-type-text-with-summary, 
.page-node.node-type-recipe .field-type-number-integer, 
.page-node.node-type-recipe .field-type-ingredient-reference, 
.page-node.node-type-recipe .field-type-text-long, 
.page-node.node-type-recipe .field-type-taxonomy-term-reference {
  color: #333;
  padding: 20px;
  margin: 20px 0;
  border-radius: 0;
  border: solid 1px #ccc;
}
.page-node.node-type-recipe .field .quantity-unit {
  font-weight: bold;
}
#search-block-form .form-text {
  width:78%;
}
#site-banner {
  margin-top: 24px;
}
#site-slogan {
  color: #43925A;
  margin-top: 10px;
  padding: 0 0 10px 1%;
  border-bottom: solid 1px #ccc;
  font-weight: bold;
  font-size: 1.2em;
}
#support {
  margin-top: 20px;
}
#support #block-block-1 {
  margin-bottom: 0;
}
#support-banner {
  background-image: url(images/support_banner-blue-1024x100.jpg);
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  padding: 39px;
  font-size: 1.5em;
  text-align:center; 
  color: white;
  border-radius: 0;
}

/* view elements */
.article-title, .article h2.title {
  font-size: 3em;
  font-weight: bold;
  line-height: 1.2;
  margin: 30px 0 10px;
}
.article-title:first-child, .article:first-child h2.title {
  margin-top: 0;
}
.attachment .article-title {
  font-size: 1.5em;
}
.view-featured .article .article-title {
  position: absolute;
  bottom: 5px;
  margin: 0 2% 2% 0;
  padding:10px;
  border-radius: 0;
  background-color: #9CCFAB; /* highlight-background */
  background-color: rgba(230,230,230, 0.8); /* highlight-background with opacity*/
  color: #333;
  font-weight: bold;
}
.view-featured .article:first-child .article-title {
  bottom: 20px;
}
.attachment .view-featured .article:first-child .article-title {
  bottom: 5px;
}
.view-content .article .tease {
  position: relative;
}
.view-content .article .tease .deck {
  position: absolute;
  center: 0;
  bottom: 0;
  padding: 10px 2%;
  background-color: rgba(230,230,230, 0.8); /* highlight-background with opacity*/
  color: #333;
  margin: 0 3% 20px 0;
}
.view-topic .view-header {
  color: #5AC57A;
  font-style: italic;
  font-weight: bold;
}
.wgbh-credit {
  width: 100%;
  text-align: center;
  font-size: 0.9em;
  background-color: #666;
  color: white;
  position:fixed;
  left: 0;
  top: 0;
  -webkit-box-shadow: 0px 3px 3px rgba(64,64,64,0.5);
  -moz-box-shadow: 0px 3px 3px rgba(64,64,64,0.5);
  box-shadow: 0px 3px 3px rgba(64,64,64,0.5);
  z-index: 20;
}
.wgbh-credit .donate {
  display: inline-block;
  text-transform: uppercase;
  padding: 3px;
  background-color: #BD3E27;
  border-radius: 3px;
} 
.wgbh-credit img {
  display: inline-block;
  padding-top: 7px;
}
.wgbh-credit .pull-left {
  padding-left: 2em;
}
.wgbh-credit .pull-right {
  padding-right: 2em;
  margin-top:3px;
}
.wgbh-credit .text {
  position:relative;
  top:-7px;
}
@media (min-width: 980px) {
  .view-featured .article {
    width: 74.5%;
    float:left;
  }
  .view-featured .attachment .article {
    width: 100%;
  }
  .view-featured .attachment  {
    float: left;
    width:24.5%;
  }
}

