.wgbh-links {
  height: 47px;
  background-color:#333;
  position:fixed;
  top: -47px;
  left: 0;
  font-family: Helvetica, Arial, sans-serif;
  width: 100%;
  z-index: 500;
  padding: 7px 0;
  line-height: 0;
}
.wgbh-links ul.menu, .wgbh-links ul.menu > li {
  list-style-type: none;
}
.wgbh-links ul.menu > li {
  display: table-cell;
  vertical-align: middle;
}
.wgbh-links ul.menu > li > a, .wgbh-links ul.menu > li > a:visited {
  padding: 20px;
  color: white;
}
.wgbh-links ul.menu > li {
  text-transform: uppercase;
}
.wgbh-links ul.menu > li.my-wgbh {
  text-transform: none;
}
.wgbh-links ul.menu > li > a:hover {
  color:#e77e00;
}
.wgbh-links ul.menu > li > a.donate {
  padding: 7px 8px;
  border-radius: 4px;
  background-color: #e77e00;
}
.wgbh-links ul.menu > li > a.donate:hover {
  color: #333;
}
.wgbh-links ul.menu.pull-right {
  margin: 16px 40px 0 0;
}

/* Dusky red: ed564b */
.wgbh-related-links {
  color: #ed564b;
  border-top: solid 4px #ed564b;
  border-bottom: solid 4px #ed564b;
  margin: 20px 0;
  padding: 20px;
  text-transform: uppercase;
  font-size: 16px;
}
.wgbh-related-links .headline {
  font-size: 22px;
  font-weight: bold; 
  margin-bottom: 20px;
}
.wgbh-related-links .headline img {
  vertical-align: -9px;
}
.wgbh-related-links ul, .wgbh-related-links ul li {
  list-style: outside none none;
  margin: 0;
  padding: 0;
}
.wgbh-related-links ul li {
  line-height: 1.5;
}
.wgbh-related-links ul > li > a {
  background: none;
  color: #ed564b;
  padding: 0;
}
.wgbh-related-links ul > li > a:hover {
  background: none;
  text-decoration: underline;
}

